
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
  height: 150vh;
 margin-top: 50px;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul, ol{
  list-style: none;
}
.smile{
  width: 700px;
  height: 700px;
  border-radius: 50%;
  background-color: #FCCC2A;
position: relative;
}
.koz1{
  width: 178px;
height: 211px;
  border-radius: 45% 55% 48% 52% / 54% 54% 46% 46%;
  background: #FAAB20;
background: -moz-linear-gradient(left, #FAAB20 0%, #E17828 47%, #FAAB20 100%);
background: -webkit-linear-gradient(left, #FAAB20 0%, #E17828 47%, #FAAB20 100%);
background: linear-gradient(to right, #FAAB20 0%, #E17828 47%, #FAAB20 100%);
position: relative;
position: absolute;
top: 25%;
right: 60%;
}
.koz1-2{
  width: 161px;
  height: 193px;
  border-radius: 45% 55% 48% 52% / 54% 54% 46% 46%;
    background: #ACF5FA;
    background: -moz-linear-gradient(-45deg, #ACF5FA 0%, #DCE1E1 32%, #F4FAF2 100%);
    background: -webkit-linear-gradient(-45deg, #ACF5FA 0%, #DCE1E1 32%, #F4FAF2 100%);
    background: linear-gradient(135deg, #ACF5FA 0%, #DCE1E1 32%, #F4FAF2 100%);
  position: absolute;
  top: 8%;
  right: 4%;
}
.koz1-3{
  width: 87px;
  height: 127px;
  border-radius: 45% 55% 48% 52% / 54% 54% 46% 46%;
  background-color: #231F20;
  position: absolute;
  top: 17%;
  right: 22%;
}
.koz1-4{
  width: 13px;
  height: 22px;
  border-radius: 45% 55% 48% 52% / 54% 54% 46% 46%;
  background-color: #ffffff;
  position: absolute;
  top: 52%;
  right: 40%;

}

.koz2{
  position: absolute;
  top: 25%;
right: 17%;
}
.ogiz{
  width: 362px;
  height: 205px;
  background-color: #964700;
  border-radius: 50%;
  position:relative;
  top: 55%;
  left: 23%;
}
.ogiz2{
  width: 430px;
    height: 170px;
 background-color: #FCCC2A;
  border-radius: 50%;
  position:relative;
  top: 54%;
  left: 17%;
  position: absolute;
  z-index: 1;
}
.koz-yosh{
  width: 78px;
  height: 129px;
  position: absolute;
  z-index: 2;
  border-radius:
  54% 46% 50% 50% / 53% 60% 40% 47%;
  background: #57BEE6;
  background: -moz-linear-gradient(top, #57BEE6 0%, #A6D3F0 7%, #44A0E6 100%);
  background: -webkit-linear-gradient(top, #57BEE6 0%, #A6D3F0 7%, #44A0E6 100%);
  background: linear-gradient(to bottom, #57BEE6 0%, #A6D3F0 7%, #44A0E6 100%);
    top: 54%;
    right: 71%;
}

